html * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Arial, Sans serif;
	background-color: #ececec;
	color: #222;
}

a:link, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	width: 60em;
	margin: 0 auto;
}

#header {
	padding: 1em 0;
}

#main-nav {
	list-style-type: none;
	padding: 0;
	text-align: center;
	font-size: 1.5em;
}
#main-nav li {
	display: inline-block;
}
#main-nav li a {
	display: block;
	margin: 0 .4em 0 .4em;
}


#content {
	padding: 0 2em;
}

#footer {
}